.container {
    margin-top: 2em;
}

.col {
    padding: 20px;
}

.search {
    border-top-left-radius: 20px;
    background-color: #FEA47F;
    color: white;
}

.CRO {
    background-color: #ff6b6b;
    color: white;
}

.socialmedia {
    border-top-right-radius: 20px;
    background-color: #ff9f43;
    opacity: 0.8;
    color: white;
}

.img {
    width: 40px;
    margin-top: 30px;
    margin-left: 72px;
}

.other {
    border-bottom-left-radius: 20px;
    background-color: #feca57;
    color: #2f3542;
}

.last {
    border-bottom-right-radius: 20px;
    background-color: #2f3542;
    color: white;
}